<!doctype html>
{% load static %}
<html>
<head>
<title>Available movies for persons</title>
</head>

<body>
	<form method="POST" action="giveKey/">
		{% csrf_token %}

	<div style="float: left;padding: 10px;">
		<select name="person">
			{% for i in data %}
			<option>{{i.first_name}} {{i.last_name}}</option>
			{% endfor %}
		</select>
	</div>
	<div style="float: left;padding: 10px;">
		<select name="movie">
			{% for i in moviedata %}
			<option>{{i.name}}</option>
			{% endfor %}
		</select>
	</div>
		<input type="submit" name="" style="margin-top: 10px;">
	</form>

	
</body>
</html>